<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>servlets</servlet-name>
        <servlet-class>com.korlend.chat.servlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlets</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>